<div class="container">
  <div class="mt-5 mb-3 fs-2 fw-semibold">
    {{category}}
  </div>
</div>
<div class="container my-5">
  <div class="row row-cols-lg-6 gx-2 gy-3">
    {{#each products}}
      <div class="col p-2">
        <div class="card p-2">
          <div class="mb-2 ratio ratio-1x1">
            <img
              src="{{this.photoURL}}"
              alt=""
              class="z-1 img-fluid object-fit-cover"
            />
          </div>
          <div class="text-nowrap overflow-hidden">{{this.name}}</div>
          <div class="fw-semibold fs-5 mb-2">&#8377;{{this.price}}</div>
          <button type="add-cart" data-id="{{this._id}}" class="btn btn-primary" onclick="">Add to cart</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>